<%-include('header.ejs');-%>
<body>
    <div class="resultbox">
        <div class="imagebox">
            <img class="img" src=<%= Image%>>
        </div>
        <div class="info">
            <a class="link" href="https://www.imdb.com/title/<%= Id%>/"><h2 class="maintitle"><%= Title%></h2></a>
            <h2 class="rating"><img src="icons/star.png"> <%= Ratings%>/10</h2>
            <p class="type details"><%= Type%></p>
            <p class="year details"><%= Year%></p>
            <p class="starring details"><%= Actors%></p>
            <p class="plot details"><%= Plot%></p>
            <a href="https://www.imdb.com/title/<%= Id%>/reviews" ><button class="submit">Reviews</button></a>
        </div>
    </div>
</body>
<%-include('footer.ejs');-%>